#sidebar {
  width: 300px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  background-color: #222222;
}

#sidebar > header {
  margin: 20px 0;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}

#sidebar > footer {
  margin: 8px 0;
}

#sidebar > footer > a {
  color: #ffffff;
  font-size: 12px;
}

#chatList {
  width: 280px;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  overflow-y: auto;
  background-color: #f2f2f2;
}

#chatList > li {
  padding: 5px 5px;
}

#chatList > li:nth-child(2n) {
  background-color: #f2f2f2;
}

#chatList > li:nth-child(2n + 1) {
  background-color: #ffffff;
}

#chatList > li p {
  margin: 5px;
}

#chatList > li > div {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
}

#chatList > li > p {
  font-size: 15px;
}

#chatForm {
  width: 280px;
  height: 80px;
  display: flex;
  justify-content: stretch;
}

#chatForm > textarea {
  padding: 6px;
  flex-grow: 1;
  resize: none;
  border: 0;
  font-size: 14px;
}

#chatForm > input[type="submit"] {
  width: 40px;
  border: 0;
  background-color: #fa8072;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
}
